.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 24px;
  margin: 0 auto;

  @include tablet {
    padding: 0 32px;
  }

  @include mobile {
    padding: 0 24px;
  }
}


.container-inner {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 168px;

  @include tablet {
    padding: 0 32px;
  }

  @include mobile {
    padding: 0 24px;
  }
}
