$tablet-width: 1439px;
$mobile-width: 767px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;


$font: "Roboto", "Arial", sans-serif;

$transition-props: 0.2s ease;

$black: #000000;
$white: #ffffff;
$violet: #5f62ac;
$dark-violet: #4a439d;
$yellow: #f0c630;
